<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="canul.android" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"


        android:theme="@style/AppTheme"
        >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activities.ShowExtractsActivity"
            android:exported="true"
            android:label="Le Canul" />
        <activity
            android:name=".activities.ShowArticleActivity"
            android:label="Le Canul"
            android:parentActivityName=".activities.ShowExtractsActivity"/>

        <activity
            android:name=".activities.EditCommentActivity"
            android:label="@string/title_activity_comment_post" />
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/title_activity_login"/>
    </application>

</manifest>
